<div id="state-territory-tip" style="display:none;">
  <p><strong>Select one or more State or Territory</strong> to filter members who live in one of those selected States/Territories.</p>
  <p>By selecting the <i>"is not"</i> you will filter members who do not live in any of the selected States/Territories.</p>
</div>

<div id="domain-tip" style="display:none;">
  <p>Enter <strong>only 1 domain</strong> (@ is optional)</p>
</div>

<div id="donation-frequency-tip" style="display:none;">
  <p>Select one type of donation frequency.</p>
  <p>This filter will select members who during their membership have been this type of donor (either one-off or weekly or ...).</p>
  <p><strong>It will not filter current weekly or monthly (or ...) donors!</strong></p>
</div>

<div id="donation-amount-tip" style="display:none;">
  <p>Enter the amount limit in USD.</p>
</div>

<div id="electorate-tip" style="display:none;">
  <p>Type one or more electorates to filter members who live in one of those electorates.</p>
</div>

<div id="page-id-tip" style="display:none;">
  <p>Enter page ids of action pages <strong>separated by a comma</strong>.</p>
  <p>This filter will select members who took action <strong>on any of those pages</strong> (not all of them).</p>
  <p>The <i>"is not"</i> option combined with a serie of page ids will filter members who did not take any action on any of those pages.</p>
</div>

<div id="email-id-tip" style="display:none;">
  <p><strong>Enter a comma-separated list of email ids.</strong></p>
</div>

<div id="join-date-tip" style="display:none;">
  <p><strong>Click to select a date.</strong></p>
</div>

<div id="tag-tip" style="display:none;">
  <p>Enter tags separated by a comma.</p>
  <p>This filter will select members who are tagged with <strong>all</strong> comma separated tags</p>
</div>

<div id="campaign-tip" style="display:none;">
  <p>Filter members who took actions on any page of the selected campaign(s).</p>
  <p><strong>Select 1 or more campaign(s)</strong></p>
  <p>By selecting the <i><strong>"is not"</strong></i> you will filter members who did not take action on any of the selected campaigns.</p>
  <p>By selecting the <i><strong>"is"</strong></i> you will filter members who took action on any of the selected campaigns.</p>
</div>