---
http_interactions:
- request:
    method: get
    uri: http://www.datasciencetoolkit.org/maps/api/geocode/json?address=United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "results": [
            {
              "types": [
                "country",
                "political"
              ],
              "address_components": [
                {
                  "types": [
                    "country",
                    "political"
                  ],
                  "short_name": null,
                  "long_name": null
                }
              ],
              "geometry": {
                "location": {
                  "lng": -97.0,
                  "lat": 38.0
                },
                "viewport": {
                  "southwest": {
                    "lng": -102.0,
                    "lat": 33.0
                  },
                  "northeast": {
                    "lng": -92.0,
                    "lat": 43.0
                  }
                },
                "location_type": "APPROXIMATE"
              }
            }
          ],
          "status": "OK"
        }
  recorded_at: Wed, 23 Apr 2014 04:18:56 GMT
- request:
    method: get
    uri: http://api.geonames.org/timezoneJSON?lat=38.0&lng=-97.0&username=jonsgreen
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"time":"2014-04-22 23:18","countryName":"United States","sunset":"2014-04-23
        20:11","rawOffset":-6,"dstOffset":-5,"countryCode":"US","gmtOffset":-6,"lng":-97,"sunrise":"2014-04-23
        06:42","timezoneId":"America/Chicago","lat":38}'
  recorded_at: Wed, 23 Apr 2014 04:18:57 GMT
recorded_with: VCR 2.9.0
