<div id="autofire-email-body-tip" style="display:none;">
  <p>You may use special tokens which will be replaced, and provide sensible defaults for cases where information is not known:</p>
  <p><strong>{NAME|Friend}</strong> The recipient's first name,
    or 'Friend' if we do not know their name.
  </p>
</div>
<div id="autofire-email-subject-tip" style="display:none;">
  <p>You may use special tokens which will be replaced, and provide sensible defaults for cases where information is not known:</p>
  <p><strong>{NAME|Friend}</strong> The recipient's first name,
    or 'Friend' if we do not know their name.
  </p>
</div>

