.bundle
.DS_Store
log/
tmp
vendor/cache
config/s3.yml
config/s3.yml.off
.#*
public/stylesheets/sass/.sass-cache
app/assets/stylesheets/sass/.sass-cache/
public/assets
public/system
db/*.sqlite3
coverage
.idea/
.gitconfig
*.swp
solr/data
reports/
.vagrant
solr/pids
vendor/bundle
.env
.tags*
tags
zeus.json
