rvm:
  - 2.0.0-p0

before_script:
  - mysql -e 'create database platform_test'
  - "bundle exec rake --trace db:migrate"
  - "bundle exec rake --trace db:test:prepare"
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"

script:
  - "bundle exec rspec spec"
  - "bundle exec rake jasmine:ci"
  - "bundle exec cucumber"
