<div id="email-subject-tip" style="display:none;">
<p>The default subject line when users share this campaign with friends using the tell-a-friend tool.</p>
</div>

<div id="email-body-tip" style="display:none;">
  <p>DO NOT include HTML or any token replacement fields.</p><p>Email should be short & casual with a link to the page</p>
</div>

<div id="tweet-text-tip" style="display:none;">
  <p>URL is automatically inserted at the end.</p><p>Maximum of 110 characters</p>
</div>