---
http_interactions:
- request:
    method: get
    uri: http://api.geonames.org/timezoneJSON?lat=12&lng=10&username=jonsgreen
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"time":"2014-04-23 05:19","countryName":"Nigeria","sunset":"2014-04-23
        18:32","rawOffset":1,"dstOffset":1,"countryCode":"NG","gmtOffset":1,"lng":10,"sunrise":"2014-04-23
        06:04","timezoneId":"Africa/Lagos","lat":12}'
  recorded_at: Wed, 23 Apr 2014 04:19:01 GMT
recorded_with: VCR 2.9.0
