.blasts {
  .list-group {
    position: relative;
    > h3 { padding-bottom: 10px; }
  }

  .actions {
    position: absolute;
    right: 0;
    top: 0;
    & > li {
      margin-top:3px;
      & > ul {
        @include box-shadow(1px 1px 1px rgba(black, 0.3));
        background-color: $BLUE;
        min-width: 150px;
        visibility: hidden;
        position: absolute;
        z-index: 999;
        & > li {
          float: none;
          margin: 0;
          font-size: 12px;
          a {
            display: block;
            padding: 5px;
          }
        }
      }
      &:hover > ul {
        visibility: visible;
      }
    }
  }

  .send-submit {
    float: left;
    margin-top: 10px;
  }

  .stats {
    float: right;
    margin-top: 19px;
  }

  #blasts-list {
    .chart.stacked {
      height: 45px;
      width: 450px;
      margin-left: 5px;
      float: left;
    }
    .blast {
      @include clearfix;

      .edit_blast {
        float: right;
        p {
          margin-bottom: 0;
        }
      }

      .send-details {
        position: relative;

        .actions {
          position: relative;
          float: right;
          padding: 8px;

          a {
            width: 100%;
            color: white;
            margin-top: 5px;
          }
        }
      }
    }
  }
}

table.emails {
  td {
    &.is_proofed {
      padding: 0 0 0 8px;
      margin: 0;
      border: none;
      width: 10px;

      .proofed {
        @include rounded-corners(5px);
        background-color: green;
        width: 10px;
        height: 10px;
      }
    }
  }

}

form.deliver_blast {
  padding: 4px 10px;

  input[type="text"], input[type="password"], input[type="number"], input[type="checkbox"], textarea, select {
    width: auto; 
    margin: 0;
  }

  label {
    @include default-font;
    margin-right: 10px;
  }

  input[type="text"] {
    padding: 5px;
    height: 30px;
  }

  .all-members, .some-members {
    margin: 4px 0;
    padding: 4px 8px;
    display: inline-block;
    border: 1px solid $GRAY;
    
    @include rounded-corners;

    &.disabled {
      opacity: 0.7;
      border: 1px solid white;
    }
  }

  input[type="radio"] {
    margin: 4px 4px 3px 0;
  }

  .utc_notice {
    color: #D3CCCC;
    margin-left: 10px;
  }

  div.radio-container {
    display:inline;
  }
}
