<div>
  from
  <%= select_tag 'rules[external_action_created_rule][$index][sources][]',
                 source_options(@movement.id, rule.sources),
                 {:multiple => true,
                  :id => "rules_external_action_created_rule_$index_sources_",
                  :class => "required multiselectcheckbox external_action_created_select",
                  "data-placeholder" => "Choose external action sources..."} %>
</div>
<div>
  since
  <%= f.text_field :since, value: rule.since, class: "since_date required datepicker platformDate", maxDate: now %>
</div>