<div class="postcode_rule_fields">
  <%= text_field_tag(
    'rules[postcode_rule][$index][postcodes]', 
    "", 
    id: "rules_postcode_rule_$index_postcodes_", 
    class: "required postcode_rule_postcodes") %>
  <%= select_tag(
    'rules[postcode_rule][$index][country_iso]', 
    options_for_select(GeoData.group(:country_iso).map{|gd| [gd.country_name, gd.country_iso]}), 
    id: "rules_postcode_rule_$index_contry_iso_", 
    class: "required") %>
</div>
<div class="postcode_rule_fields_legend">
  <small>Separate postal codes by comma without whitespaces</small>
</div>
