<div>
  <%= text_field_tag(
    'rules[postcode_rule][$index][postcodes]', 
    "", 
    placeholder: "Postal codes comma separated", 
    id: "rules_postcode_rule_$index_postcodes_", 
    class: "required postcode_rule_postcodes") %>
  <%= select_tag(
    'rules[postcode_rule][$index][country_iso]', 
    options_for_select(GeoData.group(:country_iso).map{|gd| [gd.country_name, gd.country_iso]}), 
    id: "rules_postcode_rule_$index_contry_iso_", 
    class: "required") %>
</div>
