<%= f.select :operator, ListCutter::RecurringDonationAmountRule::OPERATORS %>
<div style="margin-left: 10px; display: inline-block;" data-tip="donation-amount-tip">
  <%= f.text_field "amount", :value => rule.amount, :size => '15', :style => 'margin-right: 10px;' %>USD
</div>
