#languages-container {
  * {
    box-sizing: content-box;
  }

  select.multiselect {
    width: 725px;
    height: 200px;
    border: 0;
  }

  .ui-widget-header {
    background: $BLUE;
    border-color: $BLUE;
  }
}

#image_settings{
  padding-top: 15px;
  input[type='text']{
    width: 120px;
    // margin: 0 5px 0 10px;
  }
}
