// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";
@import "960/grid";
@import "application";

// If you are doing a lot of stylesheet concatenation, it is suggested
// that you scope your blueprint styles, so that you can better control
// what pages use blueprint when stylesheets are concatenated together.
// body.bp {
//   @include blueprint-typography(true);
//   @include blueprint-utilities;
//   @include blueprint-debug;
//   @include blueprint-interaction;
//   // Remove the scaffolding when you're ready to start doing visual design.
//   // Or leave it in if you're happy with how blueprint looks out-of-the-box
// }
// 
// form.bp {
//   @include blueprint-form;
//   // You'll probably want to remove the scaffolding once you start styling your site.
//   @include blueprint-scaffolding; }
// 
// // Page layout can be done using mixins applied to your semantic classes and IDs:
// body.two-col {
//   #container {
//     @include container; }
//   #header, #footer {
//     @include column($blueprint-grid-columns); }
//   #sidebar {
//     // One third of the grid columns, rounding down. With 24 cols, this is 8.
//     $sidebar-columns: floor($blueprint-grid-columns / 3);
//     @include column($sidebar-columns); }
//   #content {
//     // Two thirds of the grid columns, rounding up.
//     // With 24 cols, this is 16.
//     $content-columns: ceil(2 * $blueprint-grid-columns / 3);
//     // true means it's the last column in the row
//     @include column($content-columns, true); } }
// 