<div id="street-address-tip" style="display:none;">
  <p>Include street number, street name.</p>
</div>
<div id="is-member-tip" style="display:none;">
  <p><strong>Members</strong> receive emails, but have no access to our admin backend.</p>
</div>
<div id="is-volunteer-tip" style="display:none;">
  <p><strong>Volunteers</strong> have same access as admin but cannot export any data (csv)</p>
</div>
<div id="is-admin-tip" style="display:none;">
  <p><strong>Admin</strong> have full access to the backend. Admin can make others admin, but cannot un-admin themselves.</p>
</div>