---
http_interactions:
- request:
    method: get
    uri: http://www.datasciencetoolkit.org/maps/api/geocode/json?address=8%20Another%20Way,%20Black%20Mountain,%2028711,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "results": [
            {
              "types": [
                "locality",
                "political"
              ],
              "address_components": [
                {
                  "types": [
                    "locality",
                    "political"
                  ],
                  "short_name": "Black Mountain",
                  "long_name": "Black Mountain"
                },
                {
                  "types": [
                    "administrative_area_level_1",
                    "political"
                  ],
                  "short_name": "NC",
                  "long_name": "NC"
                },
                {
                  "types": [
                    "country",
                    "political"
                  ],
                  "short_name": "US",
                  "long_name": "United States"
                }
              ],
              "geometry": {
                "location": {
                  "lng": -82.32123,
                  "lat": 35.6179
                },
                "viewport": {
                  "southwest": {
                    "lng": -82.32223,
                    "lat": 35.6169
                  },
                  "northeast": {
                    "lng": -82.32023,
                    "lat": 35.6189
                  }
                },
                "location_type": "ROOFTOP"
              },
              "formatted_address": "8 Another Way, Black Mountain, 28711, United States"
            }
          ],
          "status": "OK"
        }
  recorded_at: Wed, 23 Apr 2014 04:19:00 GMT
- request:
    method: get
    uri: http://api.geonames.org/timezoneJSON?lat=35.6179&lng=-82.32123&username=jonsgreen
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"time":"2014-04-23 00:19","countryName":"United States","sunset":"2014-04-23
        20:08","rawOffset":-5,"dstOffset":-4,"countryCode":"US","gmtOffset":-5,"lng":-82.32123,"sunrise":"2014-04-23
        06:46","timezoneId":"America/New_York","lat":35.6179}'
  recorded_at: Wed, 23 Apr 2014 04:19:00 GMT
recorded_with: VCR 2.9.0
