<div id="stats-tip" style="display:none;">
  <p>Stats are updated every 10 minutes</p>
</div>

<div id="notes-tip" style="display:none;">
  <p>Notes are visible to all users. To create or edit a note just click on the text below.</p>
</div>

<div id="push-deliver-to-some-members-tip" style="display:none;">
  <p>
    <strong>When doing subject testing</strong>, each email will go to the number you enter in the box.</li>
  </p>
</div>