<table class="transactions">
  <% report = ExcelGroupedTransactionsReport.new(transactions) %>
  <tr>
    <% report.class.columns.each do |column| %>
      <th><%= column %></th>
    <% end %>
  </tr>

  <% report.rows.each do |row| %>
    <tr class="successful">
      <% row.each do |column| %>
        <td><%= column %></td>
      <% end %>
    </tr>
  <% end %>
</table>