<table class="transactions">
  <tr>
    <% TransactionsTable.columns.each do |column| %>
      <th><%= column %></th>
    <% end %>
    <th></th>
  </tr>
  <% TransactionsTable.new(transactions).rows_with_ids.each do |row, id| %>
    <tr class="<%= row.include?('Failed') ? 'failed' : 'successful' %>">
      <% row.each do |column| %>
        <td><%= column %></td>
      <% end %>
      <td><%= link_to "Manage", admin_transaction_path(id) %></td>
    </tr>
  <% end %>
</table>